.App {
  text-align: center;
  height: 100vh;
  background-color: #8ccbff;
}
body {
  overflow-y: hidden;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.margin {
  margin: 0;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.red {
  background-color: red;
}
.flex-stretch {

  height: 100%;

}
.smallClass {
  width: 15%;
  float: left;
  margin: 0; 
  height: 100%;
  
}
.mediumClass {
  width: 35%;
  float: left;
  margin: 0;
  height: 100%;
}
.largeClass {
  width: 50%;
  float: left;
  margin: 0;
  height: 100%;
}
.txtArea
{
  width: 100%;
  height: 100%;
  color: #c8cdd1;
  font-size: 20px;
  font-weight: 500;
  resize: none;
  margin-bottom: 2%;
}
.generatedButton {
  width: 60%;
  padding: 5%;
  background-color: #3b9eed;
  border: 1px solid #073b66;
  font-size: 22px;
  color: black;
  border-radius: 25px;
}
.runButton {
  width: 20%;
  padding: 1%;
  background-color: #073b66;
  color: white;
  position: relative;
  bottom: 1%;
  left: 35%;
  border: none;
  border-radius: 25px;
}